<div>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    <div>
        <h1 ng-if=config.h1 ng-style="config.hstyle">{{config.h1}}</h1>
        <h2 ng-if=config.h2 ng-style="config.hstyle">{{config.h2}}</h2>
        <h3 ng-if=config.h3 ng-style="config.hstyle">{{config.h3}}</h3>
        <h4 ng-if=config.h4 ng-style="config.hstyle">{{config.h4}}</h4>
        <h5 ng-if=config.h5 ng-style="config.hstyle"> {{config.h5}}</h5>
        <h6 ng-if=config.h6 ng-style="config.hstyle">{{config.h6}}</h6>
    </div>
</div>