<ng-loading-triangules config=configuracao></ng-loading-triangules>
<form action="" method="post" ng-show=!configuracao.loading>
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h2>Pergunta</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4>Quest</h4>
            <select type="text" name="quest" ng-model="quest" required class="form-control" ng-options="item._id as item.nome for item in listaquests" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4>Npc</h4>
            <input type="text" name="npc" ng-model="npc" required class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4>Item Requerido</h4>
            <input type="text" name="requerItem" ng-model="requerItem" class="form-control" />
        </div>
    </div>
    
    <div class="row" ng-show="requerItem">
        <div class="col-md-offset-2 col-md-6">
            <h4>Recolhe Item</h4>
            <input type="text" name="recolheItem" ng-model="recolheItem" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4>Informação Requerido</h4>
            <input type="text" name="requerInfo" ng-model="requerInfo" class="form-control" />
        </div>
    </div>
    
    <div class="row" ng-show="requerInfo">
        <div class="col-md-offset-2 col-md-6">
            <h4>Recolhe Informação</h4>
            <input type="text" name="recolheInfo" ng-model="recolheInfo" class="form-control" />
        </div>
    </div>
    
    <!-- Content -->
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h4>Descrição</h4>
            <text-angular ng-model="content"></text-angular>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <button type="button" ng-click='cadastrar()' class="btn btn-default" value="Entrar" tabindex="4">preview</button>
        </div>
    </div>    
</form>